body {
  font-family: "Outfit", sans-serif;
  margin: auto;
  padding: 2rem;
  background: #000;
  color: #fff;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

span {
  font-size: 0.75rem;
  font-weight: 300;
}
